Q1 .In the below elements which of them are values or an expression?

In [ ]:
*---expression
'hello'---value
-87.8 ---value
- ---expression
/ ---expression
+ --- expression
6 --- value

Q2. What is the difference between string and variable?

Variables are the names that we give to certain values in our program to store information ,it is created the moment you first assign a value to it, while, <br>
A string is a datatype in python that is used to display text which is enclosed in either " " or ' '.

Eg:
s = "Hello World" <br>
Here s is a variable which is holding a string(Hello World)

Q3. Describe three different data types.

Data type is an attribute associated with a piece of data that tells a computer system how to interpret its value.

Three types of data types are as follows:
1. String(str): It is a sequence of characters and the most commonly used data type to store text. A string can also include digits and symbols, however, it is always treated as text. Strings are iterable but are immutable.<br>
eg: "hello world"

2. Integer(int):It is the most common numeric data type used to store numbers without a fractional component. Integers are not iterable objects.<br>
eg: 789

3. Lists: Lists are used to store collections of data in a single variable. They are created using square brackets[]. It is an ordered sequence and are mutable.<br>
eg: [2,3,4,5]

Q4. What is an expression made up of? What do all expressions do?

An expression is a combination of values, variables, operators, and calls to functions, which further needs to be evaluated and then produces a result.
Expressions help us to perform various operations (it is evaluated as per the precedence of its operators) for example, if you ask Python to print an expression, the interpreter evaluates the expression and displays the result.

Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Expression is made up of values, containers, and mathematical operators. Evaluation of an expression always produces or returns a result value, while, <br>
A statement is just a command that a python interpreter executes, like print(),though it may or may not produce or display a result value, it only does whatever the statement says.

Q6. After running the following code, what does the variable bacon contain?

In [2]:
bacon= 22
bacon+1

23

In [3]:
print(bacon)

22

Q7. What should the values of the following two terms be?

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

##### the output will be the same for both

Q8. Why is eggs a valid variable name while 100 is invalid?

100 is invalid as it is an integer while eggs is a str and variables dont accept integers for naming,<br>
There are certain variable naming rules which we need to abide to such as;<br>

A variable name must start with a letter or an underscore character.<br>
A variable name cannot start with a digit.<br>
A variable name can only contain alpha-numeric characters and underscores.<br>
Variable names are case-sensitive (age, Age and AGE are three different variables)<br>
A variable name cannot contain spaces.<br>
The variable name cannot be any keywords in python.<br>

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int(), float(),str()

Q10. Why does this expression cause an error? How can you fix it?
"I have eaten" + 99 +"burritos"

It causes an error bec 99 is of a different data type,it is an integer while the rest two are strings.<br>
An integer cannot be concatenated with a string (due to difference in datatypes).<br>

If we want to concatenate it we need to do typecasting.

In [7]:
#fixed code
"I have eaten " + str(99) +" burritos"

'I have eaten 99 burritos'

### END OF PAGE